@font-face{
	font-family: Roboto-Medium;
	src:url(../FONTS/Roboto-Medium.ttf);
}
@font-face{
	font-family: Roboto-Regular;
	src:url(../FONTS/Roboto-Regular.ttf);
}
@font-face{
	font-family: Roboto-Thin;
	src:url(../FONTS/Roboto-Thin.ttf);
}
.contenido{
	width: 80%;
	max-width: 1000px;
	margin:0 auto;
}
body{
	margin: 0;
}
header{
    background-color: #FFE6EB;
    font-family: Roboto-Regular;
    font-style: bold;
    font-size: 16px;
    padding: 40px;
    padding-top: 10px;
    margin: 0;
}
.izq a{
	text-decoration:none; 
    padding: 15px;
    color: #404B69;
   }
 .der a{
	margin-left: 25px;
	
}
.izq{
   float:left;
}
.der{
   float: right;
}
.nombre{
	font-size: 22px;
	font-family: Roboto-Medium;
	font-style:bold;
}
h1{
  font-size: 50px;
  font-family: Roboto-Medium;
  color:#232931;
}

.img1{
    max-width: 400px;
    width: 100%;
    height: auto;
    float: right;
    margin-left: 20px;
    border-radius: 12px;
}
h2{
	color: #9F609C;
	font-family: Roboto-Medium;
	font-size: 44px;
}
h3{
	font-size: 30px;
	color: #404B69;
	font-family: Roboto-Medium;
}
p{
	font-family: Roboto-Thin;
	color: #404B69;
	font-size: 22px;
	text-align: justify;
}
article{
	margin-top: 10%;
    margin-bottom: 20%;

}
.imgs{
	max-width: 250px;
	width: 100%;
	height: auto;
	margin:12px;
}
.imgss{
	max-width: 150px;
	width: 100%;
	height: auto;
	float:left;
	margin-right: 12px;
}
.recetas{
	font-size: 18px;
	font-family: Roboto-Medium;
}
figure{
	margin-bottom: 100px;
}
h4{
	font-family: Roboto-Medium;
}
.fotos{
	max-width: 250px;
	width: 100%;
	height: auto;
	margin: 5px;
}

 .pie{ 

height: auto; 
max-width: 100%;
}


